#adminNav {
    background-color: #ffd110;
    /*font-size: large;*/
    height: 100%;
    min-height: 100vh;
    /*transition: all 0.3s;*/
    /*margin-left: -250px;*/
}

.nav-link{
    color: black;
    font-size: 1.5rem;
}

.nav-link:hover{
    color: black;
    background-color: #f39c1275;
    transition: all 0.5s;
}

.adminActiveLink {
    background-color: #f39c12;
    font-size: 1.5rem;
    color: black;
}

.footer {
    background-color: #ffd110;
    padding: 1em;
    /* padding-top: 2rem; */
    color: black;
    text-align: center;
    font-size: 0.75em;
    margin-top: 2rem;
}