/* CSS Layout for User */

.fs-logo-navbar {
    width: 150px !important;
    height: 50px !important;
    top: 0 !important;
    left: auto !important;
    position: absolute !important;
}

.fs-bg-tp-yellow {
    float: right !important;
    top: 0 !important;
    right: 0 !important;
    width: 1300px !important;
    height: auto !important;
    position: fixed !important;
    opacity: 0.8 !important;
    z-index: -5 !important;
}

.fs-bg-bt-yellow {
    float: left !important;
    bottom: 0 !important;
    left: 0 !important;
    width: auto !important;
    height: auto !important;
    position: fixed !important;
    opacity: 0.8 !important;
    z-index: -20 !important;
    margin-bottom: 0 !important;
}

.fs-cr-lf {
    margin-top: 6vh !important;
    width: auto !important;
    height: auto !important;
}

.fs-tx-rg {
    position: relative;
    text-align: center !important;
    margin-top: 10% !important;
    font-size: 30px !important;
}

.fs-tx-sub-hd {
    font-family: OpenSans-Quark, Helvetica, sans-serif;
    font-weight: bold;
}

.fs-tx-hd-admin {
    font-family: OpenSans-Quark, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
}

.fs-line-yellow {
    border-color: #ffd110;
    border-width: thick;
}

.fs-font-16 {
    font-size: 16px !important;
}

.fs-font-18 {
    font-size: 18px !important;
}

.fs-font-22 {
    font-size: 22px !important;
}

.fs-centered {
    /* position: absolute; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fs-carousel-inner {
    opacity: 80% !important;
    margin-top: -1rem !important;
    box-shadow: 0 16px 38px -12px rgba(130, 130, 130, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2) !important;
}

.fs-btn-circle-admin {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: #ffd110;
    padding: 1.5rem;
    color: white;
}

.fs-btn-circle-admin:hover {
    background-color: #ffd11050;
    transition: 0.2s;
}

.fs-btn-circle-admin+label {
    color: black;
    font-size: 1.5rem;
}

.fs-circle-user {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #FF4612;
    padding: 1.5rem;
    color: white;
}

.fs-circle-user:hover {
    background-color: #FF4612;
    border-radius: 50%;
    width: 105px;
    height: 105px;
    transition: 0.2s;
}

.fs-circle-user+label {
    color: black;
    font-size: 1.2rem;
    align-items: center;
}

.fs-interval {
    margin-left: 2% !important;
    margin-right: 2% !important;
}

.fs-interval-1 {
    margin-left: 2px !important;
    margin-right: 2px !important;
}

.btn-info {
    background-color: #3BB3A9 !important;
    border-Color: #3BB3A9 !important;
}

.btn-EditData {
    background-color: #F2C029 !important;
    border-Color: #F2C029 !important;
}

.btn-DeleteData {
    background-color: #DA4228 !important;
    border-Color: #DA4228 !important;
}

.btn-color-default {
    background-color: #FF4612 !important;
}

.fs-cd-login {
    align-items: center !important;
    width: 400px !important;
    border-radius: 20px !important;
    background-color: #ffffff !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

.fs-cd-default {
    padding: 20px !important;
    width: auto !important;
    height: auto !important;
    background-color: #FFFFFF !important;
}

.fs-cd-hd-admin {
    font-size: 2rem;
    background-color: white;
    text-align: center;
}

.fs-cd-hm-admin {
    border: 2px solid #FFD110;
    border-radius: 0.5rem;
    padding: 1.5rem;
    height: 100%;
}

.fs-pst-relative{
    position: relative;
}

.fs-pst-absolute{
    position: absolute;
}

.sub-nav {
    color: black;
    font-size: 1.25rem;
}

.sub-nav:hover {
    color: #FF4612;
}

.navActive {
    border-bottom: solid 3px #FF4612;
    font-weight: bolder;
}

.navHover {
    font-weight: bold;
}

.navHover:hover {
    border-bottom: solid 3px #FFD110;
}

.navbar .nav-link {
    color: black;
    font-size: 1.35rem;
}

/* Loading */

.loading {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    background-color: rgb(237, 237, 237);
    background-color: rgba(237, 237, 237, 0.4);
}

.GifLoad {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
