/***** == CSS ENCODING == *****/
@charset "utf-8";
/***** import fonts *****/
@import url(https://fonts.googleapis.com/css?family=Amatic+SC&display=swap);
/***** == BODY == *****/

/* เหลือง #ffd110
เทา #919191
แดง #FF4612 */

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
  font-family: "Patrick Hand", cursive;
  /* font-family: 'Athiti', sans-serif; */
  font-weight: 300;
  font-size: 15px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navbar-brand {
  font-size: 2em;
}

#content {
  width: 100%;
  height: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
}

nav {
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.navbar {
  height: 60px;
  margin: 0px;
  color: #fff;

}

.navbar-collapse0 {
  float: right;
}

.navbar-blue {
  color: #3c4858;
  background-color: rgba(0, 0, 0, 0.6);
  border: 0;
}

.bg-blue {
  background-color: #91d2ff;
  color: #eee;
}

.bg-yellow {
  background-color: #ffd110;
  color: #eee;

}

.bg-deeppurple{
  background-image: linear-gradient(to right, rgb(140, 0, 255), rgba(194, 40, 255, 0));
}
.bg-deepgreen{
  background-image: linear-gradient(to right, rgba(0, 255, 191, 0), rgb(2, 99, 58));
}

.bg-deepblue{
  background-image: linear-gradient(to left, rgba(4, 70, 131, 0), rgb(0, 204, 255));
}

.card-body {
  height: auto;
  width: 70%;
  border-radius: 50%;
  font-size: 80px;
  text-align: center;
  box-shadow: 0 16px 38px -12px rgba(130, 130, 130, 0.56),
    0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card2 {
  width: 100%;
  text-align: center;
  font-size: 30px;
  box-shadow: 0 16px 38px -12px rgba(130, 130, 130, 0.56),
    0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  margin: auto;
  position: absolute;
  transform: translate(-50%, -50%);
}

.card3 {
  width: 100%;
  height: 300px;
  align-items: center;
  margin: 0 auto;
  /* Added */
  float: none;
  /* Added */
  margin-bottom: 10px;
  /* Added */
  box-shadow: 0 16px 38px -12px rgba(130, 130, 130, 0.56),
    0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    border-radius: 5%;
}

.card-footer {
  color: #000;
  position: relative;
  bottom: 0;
  width: 100%;
}

.logo {
  width: 150px;
  height: 50px;
}

.text-banner {
  width: 100%;
  font-family: sans-serif;
  top: 50%;
  left: 50%;
  margin: auto;
  color: #000;
  font-size: 4rem;
  position: absolute;
  z-index: 5;
  transform: translate(-50%, -50%);
  background-color: gainsboro;
  opacity: 80%;
}

.logo-branch {
  width: 50%;
  height: 50%;
}

#btn1 {
  width: 100%;

}

.banner-active {
  width: 80%;
  height: 100%;
  /* border-top-right-radius: 20em; */
  clip-path: polygon(30% 100% ,100% 100%,70% 0%,0% 0%);

}
.banner-active2 {
  width: 80%;
  height: 100%;
  /* border-top-left-radius: 20em; */
  clip-path: polygon(50% 100% ,100% 30%,100% 0%,30% 100%);
}

.btn-active{
  text-align: center;
  font-size: 30px;
  box-shadow: 0 16px 38px -12px rgba(130, 130, 130, 0.56),
    0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  margin: auto;
  position: absolute;
  transform: translate(-50%, -50%);
}

.carousel-inner{
  box-shadow: 0 16px 38px -12px rgba(130, 130, 130, 0.56),
    0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

#btn-alumn{
  width: 200px;
  height: 50px;
  
}

.btn-circle.btn-md { 
  width: 100%; 
  height: 100%; 
  padding: 7px 10px; 
  border-radius: 50%; 
  font-size: 10px; 
  text-align: center; 
} 

.btn-circle.btn-xl { 
  width: 100%; 
  height: 100%; 
  padding: 10px 16px; 
  border-radius: 50%; 
  font-size: 12px; 
  text-align: center; 
} 


