body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #3BB3A9;
  background-color: #3BB3A9;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 15px;
  color : #FFFFFF;
  box-shadow : 2px 2px 2px rgb(221, 221, 221);

}


.file-preview {
margin: 0 10px;
}

.ShowData{
  background-color: #3BB3A9;  border-Color: #3BB3A9;
}


.btn-custom {
  @include button-variant(pink, red, red, #444, #333, red);
  color: #fff;
}