body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #3BB3A9;
  background-color: #3BB3A9;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 15px;
  color : #FFFFFF;
  box-shadow : 2px 2px 2px rgb(221, 221, 221);

}


.file-preview {
margin: 0 10px;
}

.ShowData{
  background-color: #3BB3A9;  border-Color: #3BB3A9;
}


.btn-info {
  background-color: #3BB3A9 !important;
  border-Color: #3BB3A9 !important;
}

.btn-EditData {
  background-color: #F2C029 !important;
  border-Color: #F2C029 !important;

}

.btn-DeleteData {
  background-color: #DA4228 !important;
  border-Color: #DA4228 !important;

}

.interval{
  margin-left: 2% !important;
  margin-right: 2% !important;
}


.interval-1{
  margin-left: 2px !important;
  margin-right: 2px!important;
}



.contrain_css{
  padding: 5% !important;
}

.Tab2{
  background-Color: #F2C029;
}

.Tab2-text{
  color : #FFFFFF
}

.Tab2-text:hover{
  color : #FFFFFF
}

.TabContent{
  padding: 2%;
}

.style-addData{
  text-Align: left;
  align-Self: stretch ;
 
}

.interval-top{
  margin-top: 2%;
}